.prod-list {
  list-style: none;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}

.prod-list-item {
  border: solid 1px;
  margin: .6em;
  padding: .75em;

}

.file-choose {}

.btn-options {
  margin: .5em;
  background: none;
  font-size: .8em;
  font-family: 'Nunito';
  border: .1em solid black;
  padding: .25em 1em;
}

.form {
  font-size: 1.2em;
  border: solid 1px red;
  margin: 2px;
  padding: 1px;
  box-sizing: border-box;
}

.form input[type=text] {
  font-size: 1.2em;
  font-family: 'Nunito';
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "name name"
    "price quantity"
    "image image"
    "desc desc"
    "sub sub";
  border: solid 1px;
}

.edit-prod {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.edit-prod input {
  width: 100%;
  font-size: 1em;
  font-family: 'Nunito';
}

.edit-prod label {
  text-align: left;
}

label {
  display: inline-block;
  width: 75px;
  text-align: right;
  padding-right: .3em;
}

input {
  display: inline-block;
}

.name {
  grid-area: name;
}

.name input,
.desc input {
  width: 80%;
}

.price input,
.quantity input {
  width: 90px;
}

.price {
  grid-area: price;
}

.quantity {
  grid-area: quantity;
}

.image {
  grid-area: image;
}

.desc {
  grid-area: desc;
}

.sb {
  justify-self: center;
  grid-area: sub;
  font-size: 1.2em;
}
