<p>
  Add new product
</p>
<div class="form">
  <div class="submit-er" *ngIf="submitFlag">
    Please fill each field.
  </div>
  <form class="form-grid" (ngSubmit)="newProduct()">
    <div class="name">
      <label for="pname">Name</label>
      <input type="text" name="pname" id="pname" [(ngModel)]="name">
    </div>
    <div class="price">
      <label for="price">Price</label>
      <input type="text" name="price" id="price" [(ngModel)]="price">
    </div>
    <div class="quantity">
      <label for="quantity">Quantity</label>
      <input type="text" name="quantity" id="quantity" [(ngModel)]="quantity">
    </div>
    <div class="image">
      <label for="image">Image</label>
      <!-- <input type="text" name="image" id="image" [(ngModel)]="image"> -->
      <input class="file-choose" type="file" name="image" id="f" (change)="onImageSelected($event)">
    </div>
    <div class="desc">
      <label for="desc">Desc</label>
      <input type="text" name="desc" id="desc" [(ngModel)]="desc">

    </div>
    <div class="sb">
      <input type="submit" value="Submit" class="btn-options" [disabled]="!imageUploadFlag">
    </div>
  </form>
</div>









<!-- <label for="pname">Name</label>
<input type="text" name="pname" id="pname"> -->
<h2>Products you sell.</h2>
<div>
  <ul class="prod-list">
    <li class="prod-list-item" *ngFor="let prod of soldProducts | async">
      <div>
        Name: {{ prod.name }}
        Desc: {{ prod.desc}}
      </div>
      <div *ngIf="infoFlag && product?.pid == prod.pid">
        {{ prod | json }}
      </div>
      <div *ngIf="editFlag && product?.pid == prod.pid" class="edit-prod">
        <form class="">
          <label for="pname">Name</label>
          <input type="text" name="name" id="pname" [(ngModel)]="product.name">
          <label for="price">Price</label>
          <input type="text" name="price" id="price" [(ngModel)]="product.price">
          <label for="quan">Quantity</label>
          <input type="text" name="quan" id="quan" [(ngModel)]="product.quantity">
          <label for="desc">Description</label>
          <input type="text" name="desc" id="desc" [(ngModel)]="product.desc">
          <label for="image">Image</label>
          <img src="{{product.image}}" style="width: 200px;height: 200px;">
          <input class="file-choose" type="file" name="image" id="image" (change)="changeProductImage($event,product)">

        </form>
      </div>
      <button class="btn-options" (click)="moreInfo($event, prod)">
        More Info
      </button>
      <button class="btn-options" *ngIf="!editFlag" (click)="editProduct($event, prod)">
        Edit
      </button>
      <button class="btn-options" *ngIf="editFlag && product?.pid == prod.pid" (click)="applyEdit(prod)"
        [disabled]="prodImageFlag">
        Done
      </button>
      <button class="btn-options" *ngIf="editFlag && product?.pid == prod.pid" (click)="cancelEdit(prod)">
        Cancel
      </button>
      <button class="btn-options" (click)="deleteProduct(prod)">Delete</button>

    </li>
  </ul>

</div>

<!-- <ng-template #noProducts>
  <h1>
    You sell no products!
  </h1>
</ng-template> -->
