<!-- <p>login works!</p> -->
<div class="grid">
  <h1>Login</h1>

  <label class="fields">
    Email Id:
    <br> 
    <input type="text" [formControl]="emailId" placeholder="Email Id">
  </label>

  <label>
    Password:
    <br> 
    <input type="text" [formControl]="password" placeholder="Password">
  </label>

  <br>
  <button class="Login">Login</button>
  <br>

  <button (click)="login()" class="gmailLogin">Login with Google</button>
  <!-- <button (click)="logout()">LOGOUT</button> -->
</div>


