.grid {
  display: grid;
  place-items: center;
  /* background-color: burlywood */
}

.Login{
  background-color: #3c3c3c;
  border-radius: 10px;
  padding: 8px 10px;
  margin: 5px;
  border: 0ch;
  font-size: 20px;
  color: white;
}

.gmailLogin{
  background-color: #02ee66;
  border-radius: 10px;
  padding: 12px 15px;
  margin: 10px;
  border: 0ch;
  font-size: 20px; 
}

.fields{
  padding: 20px;
  font-size:20px; 
}

