/* reset */

.wrapper{
    margin-left: 5%;
    display: grid;
    font-family: 'Nunito' ,'sans-serif';
    grid-template-columns: 50% 50%;
}
.info
{
    display: grid;
    font-family: 'Nunito' ,'sans-serif';
    grid-template-columns:  40% 50%;
    font-size: 25px;   

}
.li{
    border-bottom:1px solid black;
}
.list-item
{
    display: grid;
    font-family: 'Nunito' ,'sans-serif';
    grid-template-columns: 30% 30% 30%;
    font-size: 20px;   

}
.continue-shop{
    border: 3px solid #03ee66;
    text-align: center; 
    background-color: white;
    margin: 4%;
    width: 25%;
    height: 60px;
  
   }









































