<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
<h3>Products available</h3>
<!-- <img src="https://firebasestorage.googleapis.com/v0/b/sabziwala-e90f8.appspot.com/o/brocolli.png?alt=media&token=fd9df93e-7231-4b3b-ad50-73121890fcea"> -->
<ul>
  <li *ngFor="let prod of products | async">
    {{ prod | json}}
    <!-- <img src="{{pro.image}}"> -->
  </li>
</ul>
<div style="display:block;" [style.width]="width" class="wrapper">

  <slideshow class="main-arousel" [imageUrls]="imageurl" [height]="height" [minHeight]="minHeight" [autoPlay]="autoPlay"
    [dotColor]="dotColor" [fullscreen]="fullscreen" [arrowSize]="arrowSize" [fullscreen]="fullscreen"
    [backgroundSize]="backgroundSize" [backgroundPosition]="backgroundPosition" [backgroundRepeat]="backgroundRepeat">
  </slideshow>

  <!-- <slideshow class="vegetable"
        
    ></slideshow>

    <slideshow class="fruits"
    
    ></slideshow>

    <slideshow class="combination"
    
    ></slideshow> -->

</div>

<!-- <div class="container">
        <button class="prev slick-arrow"> < </button>
        <button class="next slick-arrow"> > </button>
    </div> -->



<!-- <div class="grid-container">
    <div class="grid-item">
        <img src="../../../assets/onion.jpg">
        
        <div >
            <p class="TextForAddition">MRP ₹50/Kg</p>
            <button class="ButtonForAddition">-</button>
            <h6 class="TextForAddition">1 KG</h6>
            <button class="ButtonForAddition">+</button>
        </div>

        <button class="Cart"><img src="../../../assets/cart.png" style="width:18px; height:15px;margin-right: 10px;float: left;">ADD TO CART</button>
    </div>
    <div class="grid-item">2</div>
    <div class="grid-item">3</div>  
    <div class="grid-item">4</div>
    <div class="grid-item">5</div>
    <div class="grid-item">6</div>  
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
     
 </div> -->


<div style="padding: 50px; background-color: rgb(60, 60, 60);">
  <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
    <div ngxSlickItem *ngFor="let prod of products | async | slice:0:5;let i=index;" class="slide" style="padding: 50px;" (click)="passProduct(prod)">
      
      <img src="{{prod.image}}" alt="vegies" width="200px"
          height="200px" style="align-content: center;">
      <!-- <img src="{{ slide.img }}" alt="vegies" width="200px" height="200px" style="align-content: center;"> -->
      <h2 style="color: white;">{{ prod.name }}</h2>
      <!-- <p>{{pro.image}}</p> -->
      <div>
        <p class="TextForAddition">MRP ₹ {{prod.price}}/Kg</p>
        <!-- <button class="ButtonForAddition" (click)="decrement()">-</button>
        <h6 class="TextForAddition">{{count}} KG</h6>
        <button class="ButtonForAddition" (click)="increment()">+</button> -->

        <div *ngIf="prod.quantity >0; else noStock;">
          <h4 style="color: white;">Available Quantity:{{prod.quantity}} kg</h4>
        </div>
        <ng-template #noStock>
          <h4 style="color: white;">Out of Stock</h4>
        </ng-template>
        
      </div>



      <!-- <div style="text-align: center">
        <button class="Cart">Add to Cart</button>
      </div> -->

    </div>
  </ngx-slick>
</div>



<div style="padding: 20px 40px ; background-color: rgb(60, 60, 60);">


  <ul>

    <li style="display: inline-block;margin: 100px;" *ngFor="let gg of products | async | slice: 5:n ;" (click)="passProduct(gg)">
      <!-- {{ addcounter() }} -->
      <div style="">
        <img src="{{gg.image}}" alt="vegies" width="200px" height="200px" style="align-content: center;">
        <h2 style="color: white;">{{gg.name}}</h2>
      </div>

      <p class="TextForAddition">MRP ₹ {{gg.price}}/Kg</p>
      <!-- <button class="ButtonForAddition">-</button>
      <h6 class="TextForAddition">1 KG</h6>
      <button class="ButtonForAddition">+</button><br>
      <button style="text-align: center" class="Cart">Add to Cart</button> -->

      <div *ngIf="gg.quantity >0; else noStock;">
        <h4 style="color: white;">Available Quantity:{{gg.quantity}} kg</h4>
      </div>
      <ng-template #noStock>
        <h4 style="color: white;">Out of Stock</h4>
      </ng-template>

    </li>


  </ul>



</div>
