/* For product */

.main-carousel{
    grid-area: carousel;
}

.vegetable{
    grid-area: vegetable;
}

.fruits{
    grid-area: fruits;
}

.combination{
    grid-area: combination;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
      "carousel"
      "vegetable"
      "fruits"
      "sidebar"
      "combination"
  }

  /* .slick-arrow {
    top: auto;
    bottom: 0;
    z-index: 9;
    display: inline-block;
    height: auto;
    width: auto;
    margin-bottom: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  } */

  

  /* .slick-prev:before,
.slick-next:before {
  color: rgb(133, 23, 23) ;
  
} */

/* .slick-prev, .slick-next {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: red;

} 

.time_pass{
    color: red;
} */


.slick-prev {
    left: 100px !important;
    background-color: red  !important; /*to notice it, is white*/
}
.slick-next {
    right: 100px !important;
    background-color: red  !important; /*to notice it, is white*/
}

.slick-arrow.slick-prev .time_pass {
    left: 100px;
    background: red; /*to notice it, is white*/
    z-index: 100;
  }
  .slick-arrow.slick-next {
    right: 100px;
    background: red; /*to notice it, is white*/
  }

/* .slick-arrow.slick-prev {
    left: 0;
  }
  .slick-arrow.slick-next {
    right: 0;
  }

  .slick-arrow:before { display: none; }
.slick-arrow .arrow-icon {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: rgba(0, 0, 0, .5);
  color: #FFF;
  font-size: 55px;
  opacity: 0;
  -webkit-transition: .5s all ease 0s;
  -moz-transition: .5s all ease 0s;
  -ms-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
} */

/* .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #ffffff;
    padding:50px 100px 10px 100px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 50px;
    font-size: 30px;
    text-align: center;
  } */

  /* .grid-item img{
    width: 200px;
    height: 200px;
    margin: 0%;
}

.grid-item p{
    font-size: 15px;
    text-align: left;
    padding-right: 20px;
    
}
*/
.TextForAddition{
    display: inline-block;
    padding: 5px 10px 5px 10px;
    margin: 0%;
    font-size: 15px;
    border-radius: 5px;
    color: #02ee66;
    font-weight: 1000; 
    /* background-color: #3c3c3c; */

 }

.ButtonForAddition{
    display: inline-block;
    padding: 5px 10px 5px 10px;
    margin: 0%;
    font-size: 15px;
    border-radius: 15px;
    background-color: #3c3c3c;
    color: white;
    border: none; 
}
 

.Cart{
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 12px;
    /* background-color: #3c3c3c; */
    color: white;
    border: none; 
    background-color: black;
    text-align:center;
    
    
} 

/* @media screen and (max-width: 800px) {
  
} */


/* Slick slider Design */

   
   