<!-- <!doctype html>

<div class="navbar">
  <header>
    <div class="logo">
      SubziWala
    </div>
    <nav class="nav">
      <ul class="navLinks">
        <li><a routerLink="/product" routerLinkActive="active">Products</a></li>
        <li><a routerLink="/productAdd" routerLinkActive="active">Add Product</a></li>
        <li><a routerLink="/delivery" routerLinkActive="active">Delivery</a></li>
        <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
         <li><a routerLink="/checkout" routerLinkActive="active">Checkout</a></li>
      </ul>

    </nav>

    

    <nav [ngClass]="{'mobile-nav': true, 'mobile-nav--open': mobNav}">
      <ul>
        <li><a routerLink="/product" routerLinkActive="active" (click)="toggleMobileNav()">Products</a></li>
        <li><a routerLink="/productAdd" routerLinkActive="active" (click)="toggleMobileNav()">Add Product</a></li>
        <li><a routerLink="/delivery" routerLinkActive="active" (click)="toggleMobileNav()">Delivery</a></li>
        <li><a routerLink="/cart" routerLinkActive="active" (click)="toggleMobileNav()">Cart</a></li>
     
      </ul>
    </nav>

    <div [ngClass]="{'menu-toggle': true, 'cross': mobNav}" (click)="toggleMobileNav()">
      <div class="hamburger"></div>
    </div>
  </header>
  
</div> -->

<router-outlet></router-outlet>
