<!-- <p>single-product works!</p> -->
<div style="margin: 100px;">
    {{ currentProd | json }}

    <img src="{{currentProd.image}}" style="width: 300px;height: 300px;float: left;padding-right: 100px;">

    <div style="margin-left: 300px;padding-left:50px;width: 900px; ">
        <h1>{{currentProd.name}}</h1>
        <p>Description : {{currentProd.desc}}</p>
        <h3 style="margin: 20px;">Price: ₹{{currentProd.price}}/Kg</h3>

        <div style="margin: 10px;">

        <ul>

            <li style="display: inline-block;">
            <button style="font-size: 18px;background-color:#3c8c5b;border-radius:5px;padding: 10px 25px; color: white;
            border: none;" (click)="addToCart(currentProd)">

            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="24" height="18"
            viewBox="0 0 172 172"
            style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="#3c8c5b"></path><g fill="#ffffff"><path d="M0,0v14.33333h23.06771l28.66667,114.66667h96.97396l1.56771,-5.15104l14.78125,-49.71875l5.15104,-16.79688h-121.60937l-14.33333,-57.33333zM52.18229,71.66667h98.76563l-12.98958,43h-75.02604zM75.25,136.16667c-9.88216,0 -17.91667,8.03451 -17.91667,17.91667c0,9.88216 8.03451,17.91667 17.91667,17.91667c9.88216,0 17.91667,-8.03451 17.91667,-17.91667c0,-9.88216 -8.03451,-17.91667 -17.91667,-17.91667zM125.41667,136.16667c-9.88216,0 -17.91667,8.03451 -17.91667,17.91667c0,9.88216 8.03451,17.91667 17.91667,17.91667c9.88216,0 17.91667,-8.03451 17.91667,-17.91667c0,-9.88216 -8.03451,-17.91667 -17.91667,-17.91667z"></path></g></g></svg>

            ADD TO CART</button>
        </li>
        <li style="display: inline-block;padding-left: 20px;">
            <h5  *ngIf="count==0" [ngStyle]="{'display': getdisplay}" style="color: red;">*Quantity is 0</h5>
        </li>

        </ul>
        </div>


        <div style="display: inline-block;">
            <h4>Quantity:</h4>
            <button class="ButtonForAddition" (click)="decrement()">-</button>
            <h6 class="TextForAddition">{{count}} KG</h6>
            <button class="ButtonForAddition" (click)="increment()">+</button><br>
        </div>
    </div>
    

</div>


