.TextForAddition{
    display: inline-block;
    padding: 5px 5px 5px 5px;
    margin: 0%;
    font-size: 15px;
    border-radius: 5px;
    color: #3c3c3c;
    font-weight: 1000; 
    /* background-color: #3c3c3c; */

 }

.ButtonForAddition{
    display: inline-block;
    padding: 5px 10px 5px 10px;
    margin: 0%;
    font-size: 15px;
    border-radius: 2px;
    background-color: #3c3c3c;
    color: white;
    border: none; 
}