@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
.background1{
background-color: #3c3c3c;
width: 100%;
height: 100%;
}
.cart-header{
color:#3c3c3c;
font-family: 'Nunito' ,'sans-serif';
font-size :150%;
margin-left: 2%;
width: 100%;
}


.Shopping-summary{
  width: 100%;
 
  background-color: #3c3c3c;
  /* height:15%; */
  text-align: center;
  font-family: 'Nunito', 'sans-serif';
  color: aliceblue;
}
li{
   
    border-bottom: 1px solid black;
   
  }
 .name{
    font-family: 'Nunito' ,'sans-serif';
    font-size: large;
    margin-top: 7%;
    margin-left: 9%;
    float: left;   
    text-align: center;
 }
 .name2{
    font-family: 'Nunito' ,'sans-serif';
    font-size: large;
    margin-top: 8%;
    margin-left: 7%;
    float: left;   
    text-align: center;
 }

 .cart-header-content{
  font-family: 'Nunito' ,'sans-serif';
  font-size: large;
  margin-top: 3%;
  margin-left: 20%;
  float: left;   
  text-align: center;
}
 .btn-group{
     margin-left: 6%;
 }
/*<div><button style="width:100%; margin:100%;border-radius: 5px;  background: #03ee66;height: 70px;">Proceed to Checkout</button></div>
*/
 .continue-shop{
  border:none;
  border-radius: 7px;
  text-align: center; 
  color: #03ee66;
  background-color: #3c3c3c;
  font-size:16px;
  margin: 4%;
  width: 25%;
  height: 60px;

 }
 .btn-group button {
    background-color: #3c3c3c; /* Green background */
    border: 1px solid black; /*Green border*/
    color: white; /* White text */
    padding: 2% 2%; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    margin-top: 7%;
    
    
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: green;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    border-width: 10;
    font-family: 'Nunito', sans-serif;
    align-items: center;
  }

  
 
  
  .price {
    color: '#3c3c3c';
    font-size: 15px;
    text-align: center; 
  }
  .desc
  {
    color: '#3c3c3c';
    font-size: 10px;
    text-align: center; 
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #03ee66;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .wrapper{
    display: grid;
    grid-template-columns: 50% 30%;
    margin-left: 8%;
    margin-top: 3%;
    grid-gap: 2%;

  }

  
  