<!DOCTYPE html>
<html>
<br><br>

<body>
  <!-- {{totPrice | json}} -->
  <ul>
    <li *ngFor="let prod of cartProducts | async">
      <!-- {{calculateTotalPrice(prod)}} -->
      {{ prod | json }}
    </li>

    <!-- <li *ngFor="let gg of totalPrice | async">
      {{gg | json}}
    </li> -->

  </ul>


  <div class="wrapper" display='grid'>

    <div>
      <ul style="list-style-type: none;">
        <li>
          <div class='cart-header'>Your Shopping Cart.( {{ cartDetails?.totQuan }} items )</div>
        </li>
        <li>
          <div>
            <div class="cart-header-content" style="margin-left:6%;text-align: center">
              <b>Item</b>
            </div>
            <div class="cart-header-content" style="margin-left:7%;text-align: center">
              <b>Quantity</b>
            </div>

            <div class="btn-group">
              <div>
                <div class="cart-header-content" style="margin-left:10%;text-align: center">
                  <b>Description</b>
                </div>

              </div>
              <div class="cart-header-content" style="margin-left:10%;text-align: center">
                <b>&nbsp;&nbsp;Price</b><br>

              </div>
            </div>
          </div>
        </li>



        <li>
          <div *ngFor="let prod of cartProducts | async">
            <div style="width: 13%; float:left; height:13%;margin-top: 3%;">
              <img src="{{ prod.image }}" alt="Onions" style="width:100%; height:100%;align-items: center">

            </div>
            <div class="name">
              <b>{{ prod.name }}</b><br>Qty: {{ prod.quantity }}
            </div>

            <div class="btn-group">

              <!-- <div>
                    <h4>Quantity:</h4>
                    <button  (click)="decrement()">-</button>
                    <h6 class="TextForAddition">1 KG</h6>
                    <button  (click)="increment()">+</button><br>
                </div> -->
              <div>
                <button (click)="decrement(prod)" style="margin-left:12%">-</button>
                <button>{{ prod.quantity }}</button>
                <button (click)="increment(prod)">+</button>

              </div>

              <div class="name2">
                <b>₹{{calculateSingleProductPrice(prod.quantity,prod.price)}}</b><br>

              </div>

              <div style="text-align: center;padding-top: 50px;">
                <i class="material-icons" style="font-size:18px" (click)="removeFromCart(prod)">cancel</i>
              </div>
            </div>
          </div>
        </li>



      </ul>
      <div>
        <a routerLink="/main/product" routerLinkActive="active"><button class="continue-shop">Continue
            Shopping</button></a>
      </div>

    </div>

    <div style="background:#3c3c3c; width :100%; height: 100%">

      <div class='Shopping-summary'>
        <h2> Shopping Cart Summary</h2>

        <div>
          <div style="float:left; margin-left:10%; margin-top: 10%">Total Purchase</div>
          <div style="float:right;margin-right:10% ;margin-top: 10%">Rs. {{cartDetails?.totPrice}}</div>
          <br>
        </div>

        <div>
          <div style="float:left; margin-left:10%;margin-top: 10%">Deivery Charges(T&C apply)</div>
          <div style="float:right;margin-right:10%;margin-top: 10%">Rs.20</div>
          <br>
        </div>

        <div>
          <div style="float:left; margin-left:10%;margin-top: 10%">Amount to Pay</div>
          <div style="float:right;margin-right:10%;margin-top: 10%">Rs. {{total}}</div>
          <br>
        </div>

      </div>
    </div>
    <br>
    <br>
    <div><a routerLink="/payment" routerLinkActive="active"><button class="Shopping-summary"
          style="margin-top:5%;border:none;border-radius: 8px; color: #03ee66;">
          <h2>Proceed to Checkout</h2>
        </button></a></div>
  </div>
  <br>


</body>

</html>
