.grid {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.photo-grid {
  /* border: solid 1px black; */
  display: grid;
  grid-template-columns: 250px 600px;
  grid-template-rows: 250px;
  grid-template-areas: "profilePic info";
}

label {
  margin: 20px 0;
  font-size: 20px;
  display: inline-block;
  width: 90px;
}

input[type=text] {
  font-family: 'Nunito';
  font-size: 20px;
  border: none;
  border-bottom: solid 1px #3c3c3c;
  width: 100%;
}

#pin {
  margin-top: 100px;
  width: 200px;
}

.pic {
  grid-area: profilePic;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

form {
  display: grid;
  width: 1000px;
  grid-template-rows: 1fr 1fr 1fr;
}

.info {
  grid-area: info;
  margin: 60px 0 0 10px;
  justify-content: center;
  justify-items: center;
}

.button {
  margin: auto;
  margin-top: 40px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 20px;
  color: #3c3c3c;
  padding: 1.1rem 1.5rem;
  border-radius: 10px;
  transition: all cubic-bezier(0.65, -0.25, 0.25, 1.95) 500ms;
}



.button:hover {
  letter-spacing: 0.125rem;
  font-size: 22px;
  color: #02ee66;
  padding: 1.25rem 2rem;
  background: #3c3c3c;
  border-radius: 5px;
  transition: all cubic-bezier(0.65, -0.25, 0.25, 1.95) 500ms;
}
