<div class="grid">
  <!-- {{ userDetails | json }} -->
  <div class="photo-grid">
    <img class="pic" src="{{ userDetails?.photoUrl }}">
    <div class="info">
      <p>Name : {{ userDetails?.name }}</p>
      <p>Email ID : {{ userDetails?.email }}</p>
      <p>User Type : {{ userDetails?.type }}</p>
    </div>
  </div>
  <form *ngIf="userDetails" (ngSubmit)="changeProfile(userDetails)">
    <div>
      <label for="pin">Pin Code:</label>
      <input type="number" name="pin" id="pin" [(ngModel)]="userDetails.pinCode">
    </div>
    <div>
      <label for="add">Address:</label>
      <input type="text" name="add" id="add" [(ngModel)]="userDetails.address">
    </div>
    <input class="button" type="submit" value="Change Profile">
  </form>

</div>
