<div class="navbar">
  <header>
    <div class="logo" (click)="goToMainPage()">
      SabziWala
    </div>
    <nav class="nav">
      <ul class="navLinks">
        <li><a *ngIf="user?.type === 'buyer'" routerLink="product" routerLinkActive="active">Products</a></li>
        <li><a *ngIf="user?.type === 'seller'" routerLink="productAdd" routerLinkActive="active">Add Product</a>
        </li>
        <li><a *ngIf="user?.type === 'buyer'" routerLink="delivery" routerLinkActive="active">FAQs</a></li>
        <li><a *ngIf="user?.type === 'buyer'" routerLink="cart" routerLinkActive="active">Cart</a></li>
        <li><a routerLink="profile" routerLinkActive="active">Profile</a></li>

        <li *ngIf="!currUser" routerLink="/login" routerLinkActive="active"><a>Login</a></li>
        <li *ngIf="currUser" routerLink="/login" routerLinkActive="active"><a (click)="logout()">Logout</a></li>
      </ul>

    </nav>

    <nav [ngClass]="{'mobile-nav': true, 'mobile-nav--open': mobNav}">
      <ul>
        <li><a routerLink="/product" routerLinkActive="active" (click)="toggleMobileNav()">Products</a></li>
        <li><a routerLink="/productAdd" routerLinkActive="active" (click)="toggleMobileNav()">Add Product</a></li>
        <li><a routerLink="/delivery" routerLinkActive="active" (click)="toggleMobileNav()">Delivery</a></li>
        <li><a routerLink="/cart" routerLinkActive="active" (click)="toggleMobileNav()">Cart</a></li>

      </ul>
    </nav>

    <div [ngClass]="{'menu-toggle': true, 'cross': mobNav}" (click)="toggleMobileNav()">
      <div class="hamburger"></div>
    </div>
  </header>

</div>
<!-- {{currUser?.displayName}} -->



<router-outlet></router-outlet>
