.navbar {
  /* display: none; */
  background-color: #3c3c3c;
  border: none;
  position: relative;
}

.navbar a,
li {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7%;
}

.logo {
  cursor: pointer;
  font-size: 32px;
  color: #02ee66;
}

.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 0 10px;
}

.navLinks a {
  display: block;
  color: #02ee66;
  padding: 5px 10px;
  transition: color 300ms ease-in 0ms;
}

.navLinks a:hover {
  color: deepskyblue;
}

a.active {
  color: deepskyblue;
  border: 2px solid deepskyblue;
  border-radius: 7px;
}

.mobile-nav {
  display: none;
}

.menu-toggle {
  display: none;
}

/* --------------------------------------------------------------------------------------- */

@media screen and (max-width: 800px) {
  .nav {
    display: none;
  }

  .mobile-nav {
    z-index: 2;
    background-color: #02ee66;
    display: block;
    position: absolute;
    top: 63px;
    right: 0;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 500ms;
    /* height: 0;
    overflow: hidden; */
    /* border-bottom-left-radius: 10px; */
  }

  .mobile-nav--open {
    clip-path: circle(150% at top right);
  }

  .mobile-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .mobile-nav li {
    border-bottom: 1px solid #3c3c3c;
  }

  .mobile-nav li:last-child {
    border-bottom: none;
  }

  .mobile-nav a {
    font-size: 20px;
    font-weight: 400;
    color: #3c3c3c;
    display: block;
    padding: 30px 50px;
  }

  .mobile-nav a:hover {
    color: #02ee66;
    background: #3c3c3c;
  }

  .mobile-nav a:hover {
    color: #02ee66;
    background: #3c3c3c;
  }

  a.active {
    border: none;
    border-radius: 0;
  }

  .menu-toggle {
    display: block;
    padding: 5px;
    /* background-color: white; */
    position: absolute;
    top: 11px;
    right: 10px;
    width: 36px;
    height: 33px;
    cursor: pointer;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: "";
    display: block;
    background: #02ee66;
    height: 5px;
    border-radius: 3px;
    transition: transform ease-in-out 500ms, opacity ease-in-out 500ms;
  }

  .hamburger::after {
    transform: translateY(19px);
  }

  .hamburger::before {
    transform: translateY(12px);
  }

  .cross .hamburger::after {
    opacity: 0;
  }

  .cross .hamburger {
    transform: translateY(10px) rotate(-45deg);
  }

  .cross .hamburger::before {
    transform: rotate(90deg);
  }
}
